#back {
	background-repeat: 

}

div.upDiv{
	top: 0px;
	
	width: 7%;
	height: 100%;
	/*float: left ;*/
	position: fixed;
	background-color: white;
	/*display: ;	*/
}

#upDivContent{
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
	/*display: ;	*/
}

#topContainer{
	height:100%;	
}

#container {
	height:100%;
	width: 82%;
	margin-left: 8%;
	margin-top: 3%;   
}

#header {
	background: white;
	height: 171px;
}

#headerImageDiv{
	background: url('../images/head_image.jpg'); 
	height: 150px;
	border-radius: 25px 0px;
	padding-top: 1px;
}

#headText{
	margin-bottom:0; 
	padding-left: 180px; 
	padding-top: 25px; 
	color: white;
	font-size: 50px;
}

#menuTop {
	padding-top: 10px; 
	background-color:#FFD700;
	height:60px;
	width:100%;
}

#centerContent{
	width:100%;
}

#content{
	background-color:#EEEEEE;
	height:100%;
	width:100%;
	margin-bottom: 5px; 
	float:left;
}

#menuRight{
	background-color:#FFD700;
	height:100%;
	width:25%;
	float:right;
	margin-left: 5px;
	border-left:2px solid black;
	padding-left:10px;
}

#footer{
	float:bottom;
	background-color: #EEEEEE;
	width: 100%;
	height: 20px;
	text-align:right;
/*	vertical-align: midd*/
}

#spanUpText{
	margin-top: 10%;  
}

hr.headHr {
	margin-top: 12px; 
	margin-bottom: 12px; 
	border-width: 1px; 
	border-style: solid; 
	border-color: black;
}

hr.boundHr{
	border-width: 1px; 
	border-style: solid; 
	border-color: black;
}



table#menuTopTable{
	height: 80%; 
	/*width : 100%; */
	padding-left: 13%; 
	/*padding-right: 20%;*/
}

table#menuTopTable td {
	/*width:100px;*/
	padding:5px 50px;
	/*cellspacing: 100px;	*/
}

h2.menuText{
	font-size: 160%; /* Размер шрифта */
    border-bottom: 2px solid black; /* Параметры линии под текстом */ 
    /*text-decoration: underline;*/
    font-weight: bold;
}



